{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2 class="text-center">Bejelentkezés</h2>
    <hr>
    <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-block btn-success"><i class="fas fa-sign-in-alt"></i> Bejelentkezés</button>

        <p class="mt-2 text-center">
            <a href="{% url 'password_reset' %}">Jelszó visszaállítása</a><br>
            <a href="{% url 'register' %}">Regisztráció</a><br>
        </p>
    </form>
{% endblock %}
