{% extends 'main/base.html' %}

{% block content %}
    <h2 class="text-center">Gyakran Ismételt Kérdések</h2>
    <hr>
    <div>
        <h3 class="font-weight-bold text-dark bg-warning p-1 rounded">1. Miért nem működött jól az Apache?</h3>
        <p class="ml-4 p-1 font-italic text-dark bg-light rounded">Mert rosszul volt bekonfigurálva.</p>
    </div>
    <div>
        <h3 class="font-weight-bold text-dark bg-warning p-1 rounded">2. Tetszik az oldal. Hol tudom támogatni?</h3>
        <p class="ml-4 p-1 font-italic text-dark bg-light rounded">Örülünk, hogy elnyerte a tetszését. Egyelőre sehol, de később képes lesz az oldalunk támogatások fogadására.</p>
    </div>
    <div>
        <h3 class="font-weight-bold text-dark bg-warning p-1 rounded">3. Mi vár rám az oldalon?</h3>
        <p class="ml-4 p-1 font-italic text-dark bg-light rounded">Csupa móka és kaland!</p>
    </div>
{% endblock %}
