{% extends 'main/base.html' %}

{% block content %}
    <h2 class="text-center">Csoport törlése</h2>
    <hr>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <h3>Biztosan törölni szeretné a {% if object.owner != user %} "{{ object.owner }}" felhasználóhoz tartozó {% endif %} "{{ object.name }}" csoportot?</h3>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-danger">Igen</button>
                <a href="{% url 'groups:group-detail' object.id %}" class="btn btn-outline-secondary">Mégsem</a>
            </div>
        </form>
    </div>
{% endblock %}
