{% extends 'main/base.html' %}

{% block content %}
    <h2 class="text-center">Csoportok</h2>
    <hr>

    <form method="GET" class="mb-3">
        <div class="input-group">
            <input type="search" class="form-control" name="q" placeholder="Keresés">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        {% for group in object_list %}
            <div class="col-md-3 py-3">
                <div class="card rounded p-1" style="height: 100%;">
                    <div class="card-body">
                        <a href="{% url 'groups:group-detail' group.id %}" class="text-dark"><h5 class="card-title">{{ group.name }}</h5></a>
                        <p class="text-muted">{{ group.owner.username }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
        <nav class="bg-light mt-3" aria-label="További oldalak">
            <ul class="pagination pagination-sm justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Előző">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Előző</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Előző">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Előző</span>
                        </a>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Következő">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Következő</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Következő">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Következő</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    {% if user.is_authenticated %}
        <a href="{% url 'groups:group-create' %}" class="btn btn-block btn-primary mt-3 mb-4">Új csoport létrehozása</a>
    {% endif %}
{% endblock %}
